<a href="https://colab.research.google.com/github/ds2025-col/range/blob/main/rangetask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

equals:a==b

not equals:a!=b

lessthan:a<b

greaterthan:a>b

lessthan or equals:a<=b

greaterthan or equals:a>=b

In [ ]:
for i in range(1,9): #start,stop,step (eg:(1,n+1,2))
 print(i)           #o/p will be 1 to n

1
2
3
4
5
6
7
8

In [ ]:
for i in range(12):
  print(i,end=',') #horizontal

0,1,2,3,4,5,6,7,8,9,10,11,

In [ ]:
for i in range(2,10):
  print(i,end=',')

2,3,4,5,6,7,8,9,

In [ ]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [ ]:
a=list(range(6))
print(a)

[0, 1, 2, 3, 4, 5]

In [ ]:
for i in range(10,-2,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0
-1

**INPUTS**

In [ ]:
x=input('enter your name')
print(x)
y=int(input('enter your age'))
z=float(input('enter your salary'))

enter your nameas
as
enter your age3
enter your salary100.2

In [ ]:
name=input('enter your name: ') #str type
print('hello ' + name +  '!')

enter your name: ashida
hello ashida!

In [ ]:
age=int(input('enter your age'))  #int type
print('you are',age,'years old')

enter your age2
you are 2 years old

In [ ]:
n=int(input('enter the number'))
print('the even no.s are:')
for i in range(2,n+1,2):
  print(i,end=',')
print('\nthe odd numbers are:')
for i in range(1,n+1,2):
  print(i,end=',')
print('\n the no.s are:')
for i in range(1,n+1,1):
  print(i,end=',')

enter the number10
the even no.s are:
2,4,6,8,10,
the odd numbers are:
1,3,5,7,9,
 the no.s are:
1,2,3,4,5,6,7,8,9,10,

**LOOPS**

same part os code is exicuted again and again

In [ ]:
x=range(1,10)
for i in x:
  odd=[]
  even=[]
  num=[]
for i in x:
  num.append(i)
  if i%2==0:
    even.append(i)
  else :
      odd.append(i)
print(num)
print(even)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print('\n')

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
#print('\n')  used for printing new line.

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(1,end=' ')
  print('')

1
1 1
1 1 1
1 1 1 1